.process {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #351d18;
  border-top: 1px solid var(--border-dark);
  border-bottom: 1px solid var(--border-dark);

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background: #23130f;
  padding: 2rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  // backdrop-filter: blur(6px);

  &:hover {
    border-color: #f92f06;
    transform: translateY(-4px);
  }
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: rgb(249, 47, 6);
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: rgb(249, 47, 6, 0.3);
}
