.page {
  background: #23130f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
