:root {
  --primary: #f92f06;
  --background-light: #f8f6f5;
  --background-dark: #23130f;
  --surface-dark: #351d18;
  --accent-text: #cc998e;
  --border-dark: #4a2821;
  --text-white: #ffffff;
  --font-family-display: "Manrope", sans-serif;
}
