.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--surface-dark);
  border: 1px solid var(--border-dark);
  border-radius: 0.5rem;
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover {
    background: var(--primary);
    border-color: var(--primary);
  }

  &:active {
    transform: scale(0.95);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  animation: fadeIn 0.3s ease-out;
}

.menu {
  position: fixed;
  top: 0;
  right: 0; /* приклеено к правому краю */
  width: 90%;
  //   max-width: 320px; /* ограничение ширины для больших экранов */
  height: 100%;
  background: var(--background-dark);
  border-left: 1px solid var(--border-dark); /* бордер слева */
  box-shadow: -8px 0 24px rgba(0, 0, 0, 0.4); /* тень слева */
  display: flex;
  flex-direction: column;
  transform: translateX(-0%); /* стартовая позиция — за правым краем */
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border-dark);
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  color: var(--accent-text);
  font-size: 28px;
  border-radius: 0.5rem;
  transition: all 0.2s;

  &:hover {
    background: var(--surface-dark);
    color: white;
  }
}

.links {
  flex: 1;
  padding: 1rem 0;
  list-style: none;
}

.link {
  display: block;
  padding: 1rem 1.5rem;
  color: var(--accent-text);
  font-weight: 500;
  text-decoration: none !important;
  transition: all 0.3s ease;

  &:hover {
    background: var(--surface-dark);
    color: white;
    padding-left: 2rem;
  }
}

.activeLink {
  color: white;

  padding: 1.5rem 2rem;
  border-radius: 4px;
  text-decoration: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
