// .cta {
//   text-align: center;
//   padding: 5rem 2rem;
//   background: #23130f;

//   h2 {
//     font-size: 2rem;
//     font-weight: 800;
//   }

//   p {
//     color: #cc998e;
//     margin-top: 1rem;
//   }

//   .buttons {
//     margin-top: 2rem;
//     display: flex;
//     justify-content: center;
//     gap: 1rem;
//   }
// }

.cta {
  text-align: center;
  padding: 5rem 2rem;
  // background: #23130f;
  background:
    linear-gradient(rgba(35, 19, 15, 0.5), rgba(35, 19, 15, 0.4)),
    url("/img/spice.jpg") center/cover no-repeat;
  // margin-bottom: 4rem;

  @media (max-width: 768px) {
    padding: 2rem 2rem;
  }

  @media (max-width: 540px) {
    padding: 2rem 0.5rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
  }

  p {
    color: #ecc1b7;
    // color: #cc998e;
    // color: var(--background-light);
    margin-top: 1rem;
    line-height: 1.6;
  }

  a {
    color: #d17461;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #ff4b23;
      text-decoration: underline;
    }
  }
}

.contactBox {
  margin-top: 2rem;
  background: rgba(53, 29, 24, 0.5);
  border: 1px solid #4a2821;
  border-radius: 0.75rem;
  padding: 1.5rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  p {
    margin: 0.5rem 0;
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  color: #fff !important;
  text-decoration: none !important;
}
